body{
    background-color: blueviolet;
    color:white;
    font-family: fantasy;
    font-weight: 10;

    
}
h1{
    text-align: center;
    font-weight: 10;
}

h2{
    font-weight: 10;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

